/* Banner */
.item-banner {
    grid-column: banner;
    background: url('../images/doctor-david-ruvalcaba-big.jpg') top center no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
	text-align: center;
	padding: 0 20px;
    h1{
		font-size: 4rem;
		text-transform: uppercase;
		display: inherit;
		flex-direction: inherit;
		align-items: inherit;
		line-height: 1;
		&::after {
			content: "";
			background: #9fccff;
			height: 4px;
			width: 240px;
			position: relative;
			top: 20px;
		}
	}
	p {
		font-size: 1.3rem;
		font-weight: 300;
		color: white;
	}
}