/* Generals */
html {
    scroll-behavior: smooth;
    font-size: 16px;
}

body {
    font-family: $font-titles;
}

h1, h2, h3 {
    font-family: $font-text;
}

h3 {
	font-size: 1.8rem;
    color: $primary-color;
    text-align: center;
    font-weight: 700;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin-top: 0;
}

p, li {
	color: $text-color;
	font-size: 1.1rem;
	font-weight: 300;
}

.container {
    display: grid;
    grid-template: 100vh repeat(6, auto) / repeat(2, 1fr);
    grid-template-areas: "banner banner"
                       "services services"
                       "aboutme aboutme"
                       "studies studies"
                       "contact contact"
                       "map map"
                       "footer footer";
}