/* Services*/
.item-services {
	grid-column: services;
	padding: 80px 0px;
	.container-services {
		max-width: $desktop;
		width: 100%;
		margin: auto;
		box-sizing: border-box;
		@media screen and (max-width: $desktop) {
			padding: 0 20px;
		}
	}
}

.owl-carousel {
	.owl-stage-outer {
		align-self: normal;
	}
	&.owl-loaded {
		padding: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}
	li {
		padding-bottom: 10px;
		h2 {
			font-weight: 500;
			font-size: 1.3rem;
			color: black;
		}
		a {
			background: $secondary-color;
			text-decoration: none;
			color: white;
			padding: 5px 15px;
			font-size: 0.8rem;
			border-radius: 20px;
		}
	}
	.owl-dots {
		margin-top: 20px;
	}
	button.owl-dot{
		width: 18px;
		height: 18px;
		border-radius: 20px;
		background-color: $secondary-color;
		outline: 0;
		margin: 0 8px;
		transition: .3s;
		&.active {
			background-color: $primary-color;
		}
		&:hover {
			background-color: darken($secondary-color, 10);
		}
	}
}