/* Breakpoints */
$desktop: 992px;
$tablet: 768px;
$mobile: 576px;

/* Colors*/
$primary-color: #0a4980;
$secondary-color: #009cd9;
$text-color: #9e9e9e;

/* Fonts */
$font-titles: "Open Sans",sans-serif;
$font-text: "Montserrat",sans-serif;